.header {
    background-color: var(--light-blue);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.header img {
    height: 100%;
}

.header-container {
    max-width: var(--standard-width);
    display: flex;
    justify-content: space-between;
    height: 10vh;
    margin: 0 auto;
}

.menu {
    display: none;

}

.menu.active {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100dvh;
    width: 60vw;
    position: absolute;
    right: 0;
    z-index: 1;
    background-color: var(--menu-mobile-bg);
    animation: slideMenu .3s;
}

.menu.active ul {
    display: flex;
    flex-direction: column;
    gap: .5em;
}

.menu.active li a {
    font-size: 1.5em;
    color: #fff;
    padding-left: 1em;
}

.close-menu-btn {
    position: absolute;
    color: #fff;
    right: 25px;
    top: 10px;
    font-size: 2.2em;
}

.mobile-icon {
    display: flex;
    flex-direction: column;
    gap: .3rem;
    cursor: pointer;
}

.mobile-icon.active div {
    background-color: var(--menu-font);
    height: 7px;
    width: 50px;
    border-radius: 15px;
}

.header-end {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-right: 1rem;
}



@keyframes slideMenu {
    from {
        right: -50px;
    } to {
        right: 0;
    }
}

/*  */
@media (min-width: 992px) {
    .header-container {
    }


    .menu ul{
        list-style-type: none;
        height: 100%;
        display: flex;
        align-items: center;
        gap:7px;
    }

    .menu a {
        text-decoration: none;
        font-weight: bold;
        color: var(--menu-font);
        transition: .3s;
        padding: 10px  15px;
        
    }

    .menu a:hover {
        background-color: var(--menu-hover);
        border-radius: 5px;
    }


    .uni-logo {
        display: flex;
    }

}

