footer {
    background-color: var(--menu-font);
    color: #fff;
    padding: 20px;
    font-size: .9rem;
}

.footer-column {
    display: flex;
    justify-content: center;
    gap: 50px;
}

footer ul {
    padding: 0 30px;
    margin-bottom: 20px;
}

footer ul:last-child {
    border-left: 2px solid #fff;
}

footer li {
    padding: 10px 0;
    
}

footer p {
    text-align: center;
    padding: 20px 10px 0 10px;
    border-top: 2px solid #fff;
    max-width: var(--standard-width);
    margin: 0 auto;
}