* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", serif;
}

:root {
    --light-blue: rgb(179, 218, 255, 0.5);  
    --menu-hover: rgb(179, 218, 255);
    --standard-width: 1024px;
    --menu-font: rgba(0, 26, 51, .8);
    --menu-mobile-bg: rgba(0, 26, 51);
    --font-mobile: 12px;
  }

body {
    background-color: rgb(240, 255, 255);
    
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

